.App {
  text-align: center;
  margin: 0 50px;
}

.connect {
  color: #fff;
  background-color: #ac46a1;
  top: 0px;
  width: 100%;
  z-index: 30;
  font-size: 1em;
  padding: 9px;
  text-align: right;
}
.icon-shop {
  width: 20px;
}
.navbar form-control {
  margin: 0 0 0 50px;
}
.connect a {
  color: #fff;
  padding: 0 5px;
}
.totalprice {
  font-size: 150%;
}
.col-md-6 img {
  width: 500px;
  height: 600px;
}
.col-md-6 {
  width: 70%;
}
ul li {
  display: list-item;
  list-style-type: initial;
  text-align: initial;
  color: black;
  text-transform: lowercase;
}
p {
  text-align: initial;
}
.align {
  text-align: start;
}
.exclusive {
  position: relative;
  margin: 12px;
  transition: all 300ms ease-in;
  text-align: center;
  line-height: 35px;
  height: 35px;
  border: 0;
  color: white;
  background: #ac46a1;
  display: inline;

  padding: 0 15px;
  font-size: 16px;
  font-weight: 700;
}

.centerhome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.fa-shopping-bag:before {
  content: "\f290";
}
td {
  width: 280px;
}
col-md-4 {
  flex: 0 0 auto;
  width: 10%;
  justify-content: flex-end;
}
h1 {
  color: black;
}
